body {
  background: rgb(58, 56, 56);
}
.easy {
    color: greenyellow;
    background-color: greenyellow;
    width: 200px;
    height: 100px;
}
.Medium {
    color: orange;
    background-color: orange;
    width: 210px;
    height: 100px;
}
.Hard {
    color: red;
    background-color: red;
    width: 200px;
    height: 100px;
}
.Image {
    text-align: center;
    height: 100px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .a {
    text-decoration: none;
    border: 3px solid yellow;
    color: transparent;
    padding: 40px 80px;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
  }
  .a:before {
    content: "UCube";
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }
  .a:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
  .a:after {
    content: "Download";
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }
  .a:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }
  
#parent {
 white-space: nowrap; 
}
.child { display: inline-block; }

.A{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 50px;
  border-color: #8a2be2;
  border-width: 5px;
}

.A span{
  position: relative;
  z-index: 2;
}

.A:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #8a2be2;
  transition: all .35s;
  border-radius:50px;
}

.A:hover{
  color: #fff;
  border-radius:50px;
}

.A:hover:after{
  width: 100%;
  border-radius:50px;
}
